$cup-col-margin: 5vh 0;
$cup-col-height: 615px;
$cup-col-main-border: 1px solid;
$push-power: 31px;
$table-ordinary-devider: 1px solid #000000;
$table-upper-bottom-border: 4px solid #000000;

/*Colors*/
$color-background: #d13c4f;
$color-cup-border: #b32032;
$color-cup-background: #f7475d;
$color-by-text: #000000;

/*Typography*/
$body-font: Merriweather, "Times New Roman", Times, serif;
$headlines-font: Bariol, Arial, Helvetica, sans-serif;
$headlines-color: #ffffff;